.newReleases-container{
  margin: 0.5em;
}

.scroll-product{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-product{
  height: 10%;
  width: 100%;
  cursor: pointer;
}