.newReleases-container{
  display: grid;
  grid-template-columns: 4% 32% 32% 32% 4%;
  padding-left: 1em;
}

.scroll-product{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-product{
  height: 10%;
  width: 100%;
  margin-right: 0.4em;
  cursor: pointer;
}