.product-container{
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.25s;
  margin:0.2em;
}

.product-container:hover{
  box-shadow: 0 12px 16px rgba(0,0,0, 0.2);
}


.product-img{
  width: 100%;
  overflow: hidden;
}


@media only screen and (max-width: 900px) {
  .new-icon{
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  .product-title, .product-col, .product-col, .product-coutas{
    font-size: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .product-title, .product-col, .product-col, .product-coutas{
    font-size: 9px;
  }
  
  .new-icon{
    font-size: 6px;
  }
}

.product-title, .product-col, .product-price, .product-coutas{
  text-transform: uppercase;
  height: 3%;
  padding-left: 1.5vw;
}

.product-title{
  height: 2em;
}

.product-col{
  border-top:3px solid #ebebeb;
  padding-top: 1em;
}

.product-coutas{
  color: #1D84B5;
}