
@media (max-width: 500px) {
  #logo, a:-webkit-any-link{
    display: none;
  }  
  .menu{
    justify-content: center;
  }
}


header {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #30343F;
  justify-content: space-between;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
}


#logo{
  width: 80%;
  padding: 1rem;
  cursor: pointer;
}


.menu{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  width: 100%;
  gap: 3rem;
  padding: 1rem;
}

.menu .navbar{
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

.menu .active{
  color: #f59622;
}

.navbar:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.7s;
  color: #f59622 ;
  opacity: 0.8;
}
