
@media (max-width: 768px) {
  #logo{
    display: none;
  }  
  header {
    justify-content: center !important;
  }
}


header {
  display: flex;
  background-color: #30343F;
  justify-content: space-between;
  padding-right: 5vw;
  padding-left: 5vw;
}


#logo{
  width: 80%;
  padding: 1rem;
  cursor: pointer;
}


.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.navbar{
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.7s;
  color: #f59622;
  opacity: 0.8;
}
