footer{
  display: flex;
  background-color: #30343F;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-top: 2em;
}

.navbarContainer{
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  padding: 1em;
  width: 6em;
}

.menu-footer .navbar{
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-footer .navbar:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.7s;
  color: #f59622 ;
  opacity: 0.8;
}

.menu-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1rem;
}