section {
  background-image: url(../../assets/branding/funkos-banner.webp);
  padding-top: 2em;
  padding-bottom: 3em;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: white;
}

button {
  padding: 0.5em 3em;
  border-radius: 2em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s;
  opacity: 0.95;
}
