.banner-background{
  padding-top: 2em;
  padding-bottom: 3em;
  color: white;
  padding: 0px;
  margin-top: 0px;
  border-radius: 8px;
  cursor: pointer;
}

.banner-img{
  width: 100%;
}

.banner-text{
  color: black;
  margin-right: 6.5vw;
  margin-left: 6.5vw;
}


.banner-btn{
  padding: 0.5em 3em;
  border-radius: 2em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.banner-btn:hover {
  background-color: #cbc7c7;
}
