section {
  background-image: url(../../assets/branding/funkos-banner.webp);
  padding-top: 2em;
  padding-bottom: 3em;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: white;
}

.banner-btn{
  padding: 0.5em 3em;
  border-radius: 2em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.banner-btn:hover {
  background-color: #cbc7c7;
}
